<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Transportation Comparison</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
</head>
<body>
  <h1>Carbon Emissions Released (Transportation Mode)</h1>
  <canvas id="transportationChart" width="800" height="400"></canvas>
  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>
</html>
